{% extends '__main.jinja' %}
{% from '/macros/form_field.jinja' import render_field with context %}

{% block content %}

<section class="login">
  <div class="login-form" id="login-form">
  <form method='POST'>
      <dl>
        {{ render_field(form.login) }}
        {{ render_field(form.password) }}
      </dl>
      
      <input type="submit" value="send" class="send">
    </form>
  </div>
</section>
{% endblock %}
